* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.background {
    display: flex;
    height: 100vh;
    background: linear-gradient(to bottom, #429488 12%, #d8dbd8 12%);
    padding: 25px 0;
}

.container {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    justify-content: center;
    max-height: 100vh;
}

.ui {
    width: 100%;
    position: relative;
}

.user {
    background-color: #eaeaea;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.user img {
    width: 50px;
    border-radius: 50%;
}

.user span {
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
    font-weight: 700;
}

.user-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #b1b1b1;
    cursor: pointer;
}

.notifications {
    background-color: #9fd8f8;
    padding: 12px 24px;
}

.bell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bell i {
    color: #9fd8f8;
}

.notif-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notif-info span {
    font-size: 13px;
    color: #628295;
    text-decoration: underline;
    cursor: pointer;
}

.chats {
    flex-direction: column;
    padding: 12px;
}

.chats .search {
    border: 1px solid #eee;
    padding: 12px;
    margin-bottom: 24px;
}

.chats .search i {
    color: #b1b1b1;
    margin-right: 12px;
}

.chats .search input, .chat-input input {
    border: none;
    outline: none;
}

.chats .full:hover {
    background-color: #eee;
}

.chats .chat-list {
    border-bottom: 1px solid #eee;
    display: flex;
    cursor: pointer;
}

.chats .chat-list.col-9 {
    flex-direction: column;
}

.chats .chat-list img{
    width: 70px;
    border-radius: 50%;
    margin: 12px 12px 12px 0;
}


.chats .chat-list .user-name {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.chats .chat-list .user-name span:first-child {
    font-weight: 500;
}

.chats .chat-list .last-message-time {
    margin-left: auto;
    font-weight: 300;
    font-size: 12px;
    width: 200px;
    text-align: left;
}

.chats .chat-list .last-message-text {
    margin-top: 12px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bg {
    background-image: url(../img/mine.jpg);
    max-height: 100%;
}

.messages {
    display: none;
    height: 100%;
    flex-direction: column;
    max-height: 100vh;
}

.recipient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipient > div {
    display: flex;
    align-items: center;
}

.recipient .userPic {
    width: 50px;
    border-radius: 50%;
    margin-right: 12px;
    transition: all .5s ease-in-out;
}

.recipient .recipientInfo div {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #999;
    font-weight: 400;
}


.recipient > div > div {
    display: inline-block;
}

.recipient #last-access {
    font-size: 12px;
}

.options {
    justify-content: flex-end;
}

.options i {
    color: #b1b1b1;
    margin-right: 18px;
    cursor: pointer;
}

.chat-container {
    flex-direction: column;
    flex-grow: 1;
    padding: 24px 48px;
    overflow-y: scroll;
    flex-wrap: nowrap;
}

.dropdown {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 7px;
}

.chat-messages {
    position: relative;
    padding: 18px;
    margin-bottom: 12px;
}

.fa-chevron-down {
    color: #b1b1b1;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    top: 30px;
    right: 1px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
}

.dropdown-content div {
    padding: 15px 20px;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.sent {
    background-color: #dcf8c0;
    align-self: flex-end;
    border-radius: 12px 12px 0 12px;
}

.received {
    background-color: #fff;
    align-self: flex-start;
    border-radius: 12px 12px 12px 0;
}

.dateTime {
    position: absolute;
    bottom: 3px;
    right: 5px;
    font-size: 10px;
    color: #aaa;
}

.chat-input {
    align-items: center;
    background-color: #eaeaea;
}

.chat-input i {
    font-size: 24px;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.chat-input .fa-microphone:hover {
    color: lawngreen;
}

.chat-input .fa-smile:hover:before {
    font-family: "Font Awesome 5 Free";
    content: "\f585";
}

.chat-input > div {
    text-align: center;
    color: #666;
}

.text {
    display: flex;
    height: 70%;
}

.chat-input input {
    border-radius: 7px;
    flex-grow: 1;
    padding: 20px 0 20px 12px;
}

.layer {
    filter: brightness(30%);
}
